.box {
    width: 100px;
    height: 100px;
    border: solid thin black;
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    padding-top: 5px
}

.box1 {
  background-color: yellow;
}

.box2 {
  background-color: pink;
}

#line {
  width: 100 px;
  height: 10 px;
  border: solid thin black;
  ppsition: absolute;
  border-radius: 10px;
}
